.page--home {
  min-height: 90vh;
  overflow: hidden;
}

.page--contact {
  height: 70vh;
}

@media (min-width: 415px) and (max-width: 1023px) {
  .page--home {
    height: 100vh;
    overflow: visible;
  }
}

@media (min-width: 1024px) {
  .page--contact {
    background-size: cover;
    min-height: 100vh;
  }
}
