.page--home {
  height: 90vh;
  position: relative;
}

.page--contact {
  min-height: 90vh;
  background-image: url("./images/contact-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media (min-width: 415px) and (max-width: 1023px) {
  .page--home {
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  .page--home {
    height: 92vh;
  }
  .page--contact {
    background-size: cover;
    min-height: 100vh;
  }
}
