.bar {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .bar__logo {
      width: 30vw;
      object-fit: contain;
    }

    .bar__nav-icon {
      font-family: "Gaegu", cursive;
      cursor: pointer;
      position: absolute;
      right: 0;
      font-size: 10vh;
      margin: 0 3vw 0 0;
    }
}