.bar {
  height: 9vh;
  background-color: white;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  z-index: 1;

  .bar__logo {
    width: 30vw;
    object-fit: contain;
  }

  .bar__nav--icon {
    font-family: "Gaegu", cursive;
    position: absolute;
    right: 3vw;
    font-size: 10vh;
    line-height: 1em;
    cursor: pointer;
  }
}

@media (min-width: 415px) and (max-width: 1023px) {
  .bar {
    height: 7vh;
    .bar__logo {
      width: 17vw;
    }

    .bar__nav--icon {
      font-size: 7vh;
    }
  }
}

@media (min-width: 1024px) {
  .bar {
    height: 10vh;
    width: 100vw;
    position: absolute;
    right: 0;
    background-color: transparent;
    z-index: 1;
    border-bottom: none;
    display: none;
  }

  .bar__logo {
    display: none;
  }

  .bar__nav--icon {
    padding-top: 5vh;
    color: black;
  }
}
