.barDesktop {
  display: none;
}

@media (min-width: 1024px) {
  .barDesktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    height: 7.5vh;
    padding: 0 7vw;

    .barDesktop__logo {
      width: 9vw;
      vertical-align: bottom;
    }
  }

  .barDesktop__socials {
    width: 20vw;

    .brDesktop__socials--icons {
      width: 20vw;
      height: 7.5vh;
      display: flex;
      justify-content: left;
      align-items: center;

      .socials__icon {
        font-size: 2.5vh;
        margin: auto 1vw;
        color: black;

        &:hover {
          color: #c45827;
        }
      }
    }
  }

  .barDesktop__nav {
    display: flex;
    width: 20vw;

    .nav__item {
      list-style: none;
      font-size: 2.5vh;
      margin: auto 0.7vw;
      text-decoration: none;
      color: black;

      &:hover {
        color: #c45827;
      }
    }
  }

  .desk__nav__tui {
    width: 1.7vw;
    transform: rotate(-10deg);
    opacity: 0.2;
    margin: 1vh 0 0 1vw;
    cursor: pointer;
    &:hover {
      opacity: 1;
      transform: rotate(-20deg);
      width: 1.8vw;
    }
  }
}
