.barDesktop {
  display: none;
}

@media (min-width: 1024px) {
  .barDesktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    height: 7.5vh;
    padding: 0 7vw;

    .barDesktop__logo {
      width: 9vw;
    }
  }

  .barDesktop__socials {
    width: 20vw;

    .brDesktop__socials--icons {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 20vw;
      height: 7.5vh;

      .socials__icon {
        font-size: 2.5vh;
        margin: auto 1vw;
        color: black;

        &:hover {
          color: #c45827;
        }
      }
    }
  }

  .barDesktop__nav {
    display: flex;
    width: 20vw;

    .nav__item {
      font-size: 2.5vh;
      margin: auto 1vw;
    }
  }

  .nav__tui {
    width: 1.5vw;
    transform: rotate(-10deg);
    opacity: 0.2;
    margin: 1.5vh 0 0 1vw;
    cursor: pointer;
    &:hover {
      width: 2vw;
      transform: rotate(-25deg);
      opacity: 1;
    }
  }
}
