.carousel__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-image {
  position: absolute;
  opacity: 0;
}

.carousel-image--visible {
  position: relative;
  opacity: 1;
}

.carousel-image__image {
  background-size: contain;
  height: 80vw;
  width: 80vw;
}

.carousel__wrapper--link {
  font-family: "Gaegu", cursive;
  font-size: 3vh;
  font-weight: 300;
  text-decoration: none;
  color: black;
  // margin-bottom: 3vh;
}

.carousel__image--title {
  width: 70vw;
  margin: auto;
}

.carousel__button {
  font-family: "Gaegu", cursive;
  font-size: 3vh;
  font-weight: 800;
  padding: 10vh 3vw;
  margin-bottom: 9vh;
}

@media (min-width: 1023px) {
  .carousel__wrapper {
    .carousel__image {
      height: 60vh;
      width: 60vh;
    }
  }
}
