.carousel__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel__button {
  font-family: "Gaegu", cursive;
  cursor: pointer;
  font-size: 3vh;
  font-weight: 800;
  padding: 10vh 3vw;
  margin-bottom: 9vh;
}
.carousel-image {
  position: absolute;
  opacity: 0;
}

.carousel-image--visible {
  position: static;
  opacity: 1;
}

.carousel-image__image {
  background-size: contain;
  height: 70vw;
  width: 70vw;
}

.carousel__wrapper--link {
  font-family: "Gaegu", cursive;
  font-size: 3vh;
  font-weight: 300;
  text-decoration: none;
  color: black;
  margin-bottom: 7vh;
}

.carousel-image--title {
  width: 70vw;
  margin: auto;
}

@media (min-width: 1024px) {

  .carousel-image__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vw;
    width: 70vw;

  }

  .carousel-image--title {
    width: 70vw;
    margin: auto auto 2vh;
  }
}
