.carousel {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;

  .carousel__wrapper {
    display: flex;
    height: 50vh;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .carousel__image {
    background-size: cover;
    flex-shrink: 0;
    height: 50vh;
    width: 100vw;
  }

  .carousel--small {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    .carousel__image--small {
      height: 10vh;
      background-size: contain;
    }

  }
}
