.banner {
  width: 100%;
  background-color: gold;
  position: fixed;
  bottom: 0;
  text-align: right;
  padding: 0.5em;
}

.btn {
  font-family: "Gaegu", cursive;
  padding: 0.2em 0.5em;
  background-color: transparent;
  border: 0.1em solid black;
  cursor: pointer;
  &:hover {
    border: 0.2em solid black;
    padding: 0.1em 0.4em;
  }
}
