.contact {
    font-family: 'Gaegu', cursive;
    display: flex;
    flex-flow: column;
    text-align: center;

    .contact__text {
        font-size: 4vw;
    }
    .cp-logo {
        margin: 2vw;
        width: 5vw;
        height: 5vw;
    }

}

