.contact {
  display: flex;
  flex-flow: column;
  text-align: center;

  .contact__text {
    font-size: 2.5vh;
    font-weight: 600;
    cursor: default;
  }

  .contact__link {
    font-size: 2.5vh;
  }

  .cp-logo {
    margin: 3vw;
    width: 6vw;
    height: 6vw;
  }
}

@media (min-width: 1024px) {
  .contact {
    .cp-logo {
      margin: 2vw;
      width: 2vw;
      height: 2vw;
    }
  }
}
