.button {
  width: 100vw;
  height: 8vh;
  background: white;
  border: none;
  cursor: pointer;

  .button--link {
    font-family: "Gaegu", cursive;
    font-size: 3vh;
    text-decoration: none;
    color: black;
  }
}

@media (min-width: 1024px) {
  .button {
    display: none;
  }
}
