.header {
  font-family: "Gaegu", cursive;
  text-align: center;
  font-size: 5vh;
  padding-top: 12vh;
  margin: 0 0 3vh;
}

.header--merch {
  margin-bottom: 0;
}


@media (min-width: 1023px) {
  .header {
    margin-top: 10vh;
  }
}