.header {
  font-family: "Gaegu", cursive;
  text-align: center;
  font-size: 5vh;
  padding-top: 12vh;
  margin-bottom: 3vh;
}

@media (min-width: 1023px) {
  .header {
    padding-top: 5vh;
  }

  .header--contact {
    padding-top: 20vh;
  }
}