.home {
    height: 90vh;
    width: 100vw;
    background-image: url("./images/hp-1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  