.background-image {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  background-image: url("./images/hp-1.jpg");
  background-size: cover;
  background-position: center;
}
