.landing {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;

  .landing__bar {
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
    border-bottom: 1px solid lightgrey;
    display: none;

    .landing__logo {
      width: 30vw;
      object-fit: contain;
    }
  }

  .landing__image {
    width: 60vw;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

  .landing__text {
    text-transform: uppercase;
    font-family: "Gaegu", cursive;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }

  .landing__text--purchase {
    text-decoration: none;
    color: black;
  }

  .landing__text--outnow {
    margin-top: 4vh;
    margin-bottom: 3vh;
  }

  .landing__text--link {
    text-decoration: none;
    color: black;
  }

  .landing__text--enter {
    text-transform: lowercase;
    display: block;
  }

  .landing__dog {
    position: absolute;
    bottom: 20vh;
    right: -25vw;
    width: 60vw;
  }
}
