.landing {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;

  .landing__bar {
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    position: sticky;

    .landing__logo {
      width: 30vw;
      object-fit: contain;
    }
  }

  .landing__image {
    width: 60vw;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

  .landing__text {
    text-transform: uppercase;
    font-family: "Gaegu", cursive;
    margin-bottom: 3vh;
  }

  .landing__text--purchase {
    text-decoration: none;
    color: black;
  }

  .landing__text--outnow {
    margin-top: 3vh;
    margin-bottom: 6vh;
    color: black;
    text-decoration: none;
  }

  .landing__text__bottom {
    margin-bottom: 4vh;

    .landing__text__bottom--link {
      color: black;
      text-decoration: none;
    }
  }

  .landing__text--link {
    text-decoration: none;
    text-transform: lowercase;
    color: black;
  }

  .landing__dog {
    position: absolute;
    bottom: 10vh;
    right: -20vw;
    width: 40vw;
  }
}

@media (min-width: 1024px) {
  .landing {
    .landing__bar {
      height: 20vh;

      .landing__logo {
        width: 15vw;
        object-fit: contain;
      }
    }

    .landing__text {
      font-size: 1.5em;
    }
    .landing__image {
      width: 20vw;
    }
    
    .landing__dog {
      position: absolute;
      bottom: 0;
      right: -10vw;
      width: 30vw;
    }
  }
}
