.mailingList {
  display: flex;
  margin-top: 5vh;
  justify-content: center;

  .mailingList__dag {
    object-fit: contain;
    width: 17vw;
    margin-right: 5vw;
    transform: translateY(-4vh);
  }

  .mailingList__wrapper {
    text-align: center;
    display: flex;
    flex-flow: column;
    width: 70vw;

    .mailingList__input {
      border: 1px dashed black;
      margin-top: 1vh;
      height: 1.7em;
    }
  }
}

.input-wrapper {
  display: flex;
  width: 80vw;
  align-items: center;
}

.aria {
  position: absolute;
  left: -5000px;
}

#mc_embed_signup label {
  width: 63vw;
  font-weight: 400;
}

#mc_embed_signup input.email {
  font-family: "Gaegu", cursive;
  border: 1px dashed black;
  opacity: 0.8;
  margin-top: 1vh;
  height: 1.7em;
  // margin-left: 5vw;
}

#mc_embed_signup .button {
  background-color: #19121200;
  color: black;
  font-family: "Gaegu", cursive;
  padding: 0;
  width: 10vw;
  font-weight: 600;

}

@media (max-width: 768px) {
  #mc_embed_signup .clear {
    width: 20vw;
  }
}

@media (min-width: 1024px) {
  .mailingList {
    position: absolute;
    bottom: 0;
    right: 9vw;
    transform: translateY(11vh);

    .mailingList__dag {
      width: 6vw;
      margin-right: 1.5vw;
    }
  }

  .input-wrapper {
    width: 30vw;
  }

  #mc_embed_signup__scroll {
    width: 30vw;
  }

  #mc_embed_signup label {
    width: 25vw;
    padding: 0;
    &:hover {
      color: #c45827;
      // transition: all 0.23s ease-in-out 0s
    }
  }
  #mc_embed_signup .button {
    width: 4vw;
    height: 2em;
    &:hover {
      background-color: transparent;
      color: #c45827;
      transition: none;
    }
  }
}
