.mailingList {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  overflow: hidden;

  .mailingList__dag {
    object-fit: contain;
    width: 17vw;
    margin-right: 5vw;
    transform: translateY(-4vh);
  }

  .mailingList__wrapper {
    text-align: center;
    display: flex;
    flex-flow: column;
    width: 70vw;

    .mailingList__input {
      border: 1px dashed black;
      margin-top: 1vh;
      height: 1.7em;
    }
  }
}

.input-wrapper {
  display: flex;
  width: 80vw;
  align-items: center;
}

.aria {
  position: absolute;
  left: -5000px;
}

#mc_embed_signup label {
  width: 63vw;
  font-weight: 400;
  cursor: pointer;
}

#mc_embed_signup input.email {
  font-family: "Gaegu", cursive;
  border: 1px dashed black;
  opacity: 0.8;
  margin-top: 1vh;
  height: 1.7em;
}

#mc_embed_signup .button {
  background-color: transparent;
  color: black;
  font-family: "Gaegu", cursive;
  padding: 0;
  width: 10vw;
  font-weight: 600;
  &:hover {
    background-color: transparent;
    transition: none;
  }
}

@media (max-width: 768px) {
  #mc_embed_signup .clear {
    width: 20vw;
  }
}

@media (min-width: 1024px) {
  .mailingList {
    position: absolute;
    bottom: 1vh;
    // right: 9vw;
    left: 6.5vw;
    transform: translateY(10.5vh);

    .mailingList__dag {
      width: 6vw;
      margin-right: 1.5vw;
      transform: translateY(-2.5vh);
    }
  }

  .input-wrapper {
    width: 30vw;
  }

  #mc_embed_signup__scroll {
    width: 30vw;
  }

  #mc_embed_signup input.email {
    width: 30vw;
    // border: 1px dashed white;

  }

  #mc_embed_signup label {
    color: white;
    width: 25vw;
    padding: 0;
    &:hover {
      // color: #c45827;
      color: #fdd83e;
      // transition: all 0.23s ease-in-out 0s
    }
  }
  #mc_embed_signup .button {
    color: white;
    width: 4vw;
    height: 2em;
    &:hover {
      color: #c45827;
      color: #fdd83e;
      //
    }
  }

  input:focus {
    outline: none;
  }
}
