.mailingList {
  display: flex;
  justify-content: center;

  .mailingList__dag {
    object-fit: contain;
    width: 17vw;
    margin-right: 5vw;
    transform: translateY(-4vh);
  }

  .mailingList__wrapper {
    width: 70vw;

    .mailingList__input {
      border: 1px dashed black;
      margin-top: 1vh;
      height: 1.7em;
    }
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  .aria {
    display: none;
  }
}

#mc_embed_signup input.email,
.button {
  font-family: "Gaegu", cursive;
}

#mc_embed_signup label {
  width: 63vw;
  font-weight: normal;
  cursor: pointer;
}

#mc_embed_signup input.email {
  border: 1px dashed black;
  opacity: 0.8;
  margin-top: 1vh;
  height: 1.7em;
}

#mc_embed_signup .button {
  background-color: transparent;
  font-weight: bolder;
  padding: 0;
  width: 10vw;
  color: black;
  &:hover {
    background-color: transparent;
    transition: none;
  }
}

#mc_embed_signup .clear {
  width: 8vw;
  margin-left: 2vw;
}

@media (min-width: 1024px) {
  .mailingList {
    position: absolute;
    bottom: 0;
    left: 5vw;
    width: 40vw;
    height: 10vh;

    .mailingList__wrapper {
      transform: translateX(-7vw);
    }

    .mailingList__dag {
      transform: translateY(0);
    }

    .input-wrapper {
      width: 30vw;
    }
  }

  #mc_embed_signup form {
    padding: 0;
    margin-bottom: 2vh;
  }

  #mc_embed_signup input.email {
    margin-left: 1vw;
    border: 1px dashed white;
  }

  #mc_embed_signup label {
    transform: translateX(-1vw);
    font-size: 1em;
    color: white;
    width: auto;
    padding: 0;
    &:hover {
      font-weight: bold;
    }
  }
  #mc_embed_signup .button {
    color: white;
    width: 4vw;
    height: 2em;
    &:hover {
      text-shadow: .5px .2px white;
    
    }
  }

  #mc_embed_signup .clear {
    display: flex;
    margin: 0;
    width: auto;
  }

  input:focus {
    // outline: none;
  }
}

@media (min-width: 2560px) {
  #mc_embed_signup input.email {
    font-size: 1em;
  }
  #mc_embed_signup .button {
    font-size: 1em;
  }
}
