.merch {
  font-family: "Gaegu", cursive;
  text-align: center;

  .merch__visit {
    font-size: 1.5em;
    margin-bottom: 5vh;
  }

  .merch__store {
    display: flex;
    justify-content: space-evenly;

    .merch__store__link {
      text-decoration: none;
      color: black;

    }
  }
}
@media (min-width: 1024px) {
  .merch__visit {
    margin-top: 3vh;
    font-size: 1.5em;
    font-weight: 300;
    cursor: default;
  }

  .merch__store{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 55vw;

  
  .merch__store__link {
    margin-top: 3vh;
    font-size: 1.2em;
    font-weight: 300;

    &:hover {

    }
  }
}
}
