.merch {
  font-family: "Gaegu", cursive;
  text-align: center;

  .merch__visit {
    font-size: 1.5em;
    margin-bottom: 5vh;
  }

  .merch__store {
    display: flex;
    justify-content: space-evenly;

    .merch__store__link {
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media (min-width: 1024px) {
  .merch__store__link {
    font-size: 1em;
  }
}
