.merch {
    font-family: 'Gaegu', cursive;
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;

    .merch__header {
        font-size: 2em;
        margin: 70px auto 0px;
    }

}


