.nav-section {
  font-family: "Gaegu", cursive;
  position: absolute;
  text-align: right;
 
  top: 0;
  right: 0;
  padding-right: 3vw;
  opacity: 0.9;
  z-index: 100;

  .nav-icon {
    cursor: pointer;
    font-size: 11vw;
    margin: 0;
  }
  .nav {
      background-color: white;
      width: 32vw;
      height: 100vh;

    .nav__list {
      font-size: 8vw;
      list-style: none;
      text-align: right;
    }
  }
}

.visible {
  display: none;
}
