.nav {
  background-color: white;
  position: absolute;
  height: 100vh;
  opacity: 0.9;
  transform: translateY(-110vh);
  transition: transform 0.5s;
  z-index: 1000;

  .nav__list {
    text-align: center;
    font-size: 2em;
    width: 100vw;
    margin-top: 10vh;
  }

  .nav__item {
    padding-bottom: 2vh;
    .nav__link {
      font-weight: 400;
    }
  }

  .nav__social {
    display: inline-block;
    position: static;
    padding-bottom: 2vh;
  }

  .socials__icon {
    color: black;
  }

  .nav__tui {
    width: 10vw;
    margin-bottom: 1vh;
    transform: rotate(-20deg);
  }
}

.nav--open {
  transform: translateY(0);
}

@media (min-width: 1024px) {
  .nav {
    display: none;
  }
}
