.nav {
  background-color: white;
  position: absolute;
  display: flex;
  height: 100vh;
  opacity: 0.9;
  transform: translateY(-200vh);
  transition: transform 0.5s;
  z-index: 2;

  .nav__list {
    list-style: none;
    text-align: center;
    font-size: 5vh;
    width: 100vw;
    margin-top: 10vh;
  }

  .nav__item {
    padding-bottom: 2vh;
  }

  .nav__item--contact {
    margin-bottom: 1vh;
  }

  .nav__link {
    text-decoration: none;
    color: black;
  }

  .nav__social {
    margin-bottom: 3vh;

    &--link {
      color: black;
      text-decoration: none;
      cursor: pointer;
      margin: 4vw;
    }
  }

  .nav__tui {
    width: 10vw;
    margin-bottom: 1vh;
    transform: rotate(-20deg);

  }
}

.nav--open {
  transform: translateY(0);
}

@media (min-width: 1024px) {
  .nav {
    display: none;
  }
}
