.home__subsection {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4vh;;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .social__wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;

    .social__icon {
      font-size: 6vw;
      color: white;
      margin: 3vw 3vw;
      cursor: pointer;

    }

    .social__icon--af {
      width: 20vw;
      object-fit: contain;
      margin: 2vw 5vw;

    }

    .home__button {
      border: none;
      background: white;
      width: 30vw;
      height: 10vw;
      border-radius: 100px;
      padding: 0;
      cursor: pointer;


      .home__button--link {
        font-family: "Gaegu", cursive;
        font-size: 3vw;;
        text-decoration: none;
        color: #004f74;
      }
    }
  }
}
