.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 70vw;
  padding: 0 15vw;

  .socials__icon {
    font-size: 4vh;
    color: white;
    margin: 3vw 3vw;
    cursor: pointer;
  }

  .socials__icon--af {
    width: 25vw;
    margin-top: 0.5vh;
  }
}
