.tour {
    font-family: "Gaegu", cursive;
    display: flex;
    flex-flow: column;
    text-align: center;


    .tour__video {
        height: 20vh;
        flex-shrink: 0;
        overflow: hidden;
        opacity: 0.6;
    }

    .song-kick {
      padding: 0 2em; 
    }
  }
