.tour {
  font-family: "Gaegu", cursive;
  display: flex;
  flex-flow: column;
  
  .tour-pic {
    margin: 0 auto;

    
    .tour-pic--main {
      height: 15vh;
      object-fit: contain;
    }
  }

  .song-kick {
    padding: 0 5vw;
  }
}
