.tour {
  font-family: "Gaegu", cursive;
  display: flex;
  flex-flow: column;
  text-align: center;
  
  .tour-pics {
    display: flex;
    justify-content: center;

    
    .tour-pics--w {
      width: 5vh;
      height: 5vh;
      object-fit: contain;
      margin: 2vh 0;
    }
  }

  .song-kick {
    padding: 0 5vw;
  }
}
