.watch {
  display: flex;
  flex-flow: column;
  text-align: center;

  .watch__text {
    font-size: 3.8vh;
    font-weight: 300;
    margin-bottom: 3vh;
  }
  .watch__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.thumbnail {
  top: 2vw;
  left: 10vw;
  padding: 3vw 4vw;
  margin-bottom: 3vh;

  &:hover {
    transform: rotate(20deg);
  }

  .thumbnail__image {
    height: 20vw;
    object-fit: contain;
    cursor: pointer;
  }
  .thumbnail__link {
    text-decoration: none;
    color: black;
    font-weight: 300;
    margin: 0;
  }
  
  .thumbnail__text {
    font-size: 2.5vh;
    max-width: 40vw;
  }
}


@media (min-width: 1024px) {
  .watch {
    .watch__text {
      font-size: 1.5em;
      cursor: default;
    }

    .watch__wrapper {
      margin: 0 auto;
      max-width: 70vw;

    }
  }
  
  
  .thumbnail {

    .thumbnail__image {
      height: 15vh;

    }

    .thumbnail__text {
      font-size: 1.2em;
      &:hover {
        color: #fdd73f;
      }
    }
  }
}