.watch {
  font-family: "Gaegu", cursive;
  display: flex;
  flex-flow: column;
  text-align: center;

  .watch__header {
    font-size: 5vw;
    margin: 70px auto 3vh;
  }

  .watch__title {
    font-size: 5vw;
  }
  .watch__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.thumbnail {
  cursor: pointer;
  top: 2vw;
  left: 10vw;
  margin: 5vw 3vw;

  .thumbnail__image {
    height: 20vw;
    object-fit: contain;
  }
  .thumbnail__title {
    margin: 0;
    font-size: 4vw;
    max-width: 40vw;
  }
}

