@import 'styles/_mixins.scss';

@font-face {
  font-family: 'GayaRegular';
  src: url('/fonts/GayaRegular.otf');
}

// Global Styling//
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

body,
p,
a,
button,
input {
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, -apple-system, BlinkMacSystemFont, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

body {
  background-color: $bone;
}

body,
a {
  @include body-font-size;
  color: $brown;
}

a {
  display: block;
  text-decoration: none;
  color: $brown;
}

a:hover {
  color: $pink;
  cursor: pointer;
}

li {
  list-style: none;
}
