// Bemify Documentation: https://franzheidl.github.io/bemify/
@import 'bemify';

$yellow: #f8d500;
$orange: #faaf42;
$pink: #ef97b0;
// $pink: #ffa728;

// $bone: #f1f0ea;
$bone: #f3f1df;
// $brown: black;
$brown: black;

$consent-banner: $bone;

$hover: all 0.23s ease-in-out 0s;
$scale: scale(1.01);

$mobile-side-padding: 16px;
$max-content-width-tablet: 720px;
$max-content-width-sm-desktop: 860px;

$consent-banner-height-mobile: 120px;
$nav-height-mobile: 45px;
$nav-height-desktop: 45px;
$nav-height-lg-desktop: 60px;

// Font sizes
// $font-mobile: 18px;
$font-mobile: 16px;
// $font-lg-mobile: 20px;
$font-lg-mobile: 18px;
// $font-tablet: 20px;
$font-tablet: 18px;
// $font-sm-desktop: 24px;
// $font-lg-desktop: 24px;
$font-sm-desktop: 22px;
$font-lg-desktop: 22px;

@mixin body-font-size {
  font-weight: 300;
  font-size: $font-mobile;

  @include lg-mobile {
    font-size: $font-lg-mobile;
  }

  @include sm-desktop {
    font-size: $font-sm-desktop;
  }

  @include lg-desktop {
    font-size: $font-lg-desktop;
  }
}

@mixin consent-banner-font-size {
  font-size: 16px;

  @include sm-desktop {
    font-size: 20px;
  }
}

@mixin navbar-font-size {
  // @include body-font-size;
  // font-weight: 700;
  font-size: 1.3em;

  @include sm-desktop {
    font-size: 1em;
  }

  @include med-desktop {
    // font-size: 20px;
  }

  @include lg-desktop {
    // font-size: 24px;
  }
}

// Call to actions
@mixin home-primary-link {
  text-align: center;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3px;
  color: white;

  border-radius: 12px;

  padding: 16px 24px;
  margin-bottom: 16px;

  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.4);

  &:hover {
    box-shadow: 3px 3px white;
    color: white;
    transition: $hover;
    transform: $scale;

    cursor: pointer;
  }

  @include sm-desktop {
    font-size: 20px;
    padding: 16px 56px;
  }

  @include med-desktop {
    font-size: 26px;
  }

  @include lg-desktop {
    font-size: 38px;
  }
}

@mixin internal-secondary-link {
  @include body-font-size;

  color: $brown;
  border-bottom: $brown;
  padding: 0 24px;
}

@mixin navbar-style {
  background-color: white;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 15%);
  border-radius: 12px;
  padding: 0 16px;
}

@mixin hover {
  &:hover {
    color: $pink;
    cursor: pointer;
  }
}

@mixin hover-transition {
  &:hover {
    color: $pink;
    transition: $hover;
    cursor: pointer;
  }
}

// Media Queries
@mixin lg-mobile {
  @media (min-width: 375px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 415px) {
    @content;
  }
}

@mixin sm-desktop {
  @media (min-width: 1023px) {
    @content;
  }
}

@mixin med-desktop {
  @media (min-width: 1439px) {
    @content;
  }
}

@mixin lg-desktop {
  @media (min-width: 2559px) {
    @content;
  }
}

@mixin lg-tablet-landscape {
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    @content;
  }
}

// Helpers
@mixin set-size($height, $width) {
  height: $height;
  width: $width;
}

// Keyframes
@keyframes fade-in-movement {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes ease-up-in-slow-mobile {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ease-up-in-slow {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ease-up-in-fast {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  10% {
    opacity: 0;
    transform: translateY(30px);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }
}
