@import 'styles/_mixins.scss';

@include block('socials') {
  @include element('icon') {
    height: $nav-height-mobile;

    display: flex;
    align-items: center;

    margin: 0 3px;

    @include lg-mobile {
      margin: 0 4px;
    }

    @include sm-desktop {
      margin: 0 6px;

      &:hover {
        svg {
          fill: $pink;
          transition: $hover;
        }
      }
    }

    @include modifier('patreon') {
      margin-left: 6px;
    }

    @include modifier('apple') {
      margin-top: -2px;

      svg {
        padding: 2px;
      }
    }

    @include modifier('bandcamp') {
      svg {
        padding: 1px;
      }
    }
  }
}
