// Global Styling//

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: "Gaegu", "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

li {
  list-style: none;
}

@media (max-width: 414px) {
  body {
    font-size: 2.5vh;
  }
}

@media (min-width: 1024px) {
  a:hover {
    color: #c45827;
  }
}

.page {
  padding-top: 48px;
}

.page--home {
  min-height: 90vh;
  overflow: hidden;
  padding-top: 0;
}

.page--contact {
  height: 70vh;
}

@media (min-width: 415px) and (max-width: 1023px) {
  .page--home {
    height: 100vh;
    overflow: visible;
  }
}

@media (min-width: 1024px) {
  .page--contact {
    background-size: cover;
    min-height: 100vh;
  }
}

.home-socials-banner {
  display: flex;
  margin-left: -88px;
}
.home-socials-banner-socials {
  &__icon {
    margin: 0 4px;
  }
}
