@import 'styles/_mixins.scss';

// Global Styling//
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: 'Gaegu', 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, -apple-system,
    BlinkMacSystemFont, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

li {
  list-style: none;
}

@media (max-width: 414px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  a:hover {
    color: $pink;
    cursor: pointer;
  }
}

.page {
  padding-top: 48px;
  overflow: hidden;
}

.page--home {
  padding-top: 0;
}

.page--home,
.page--merch,
.page--contact {
  min-height: 100vh;
}

@media (min-width: 425px) {
  .page--home {
    min-height: max-content;
  }
}

@media (min-width: 768px) {
  .page--watch {
    min-height: 100vh;
  }
}

@media (min-width: 1024px) {
  .page--contact {
    background-size: cover;
    min-height: 100vh;
  }
}

@include block('divider') {
  height: 96px;
  background: linear-gradient(
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
}
