@import 'styles/_mixins.scss';
@import 'styles/_shared.scss';

@include block('page') {
  padding: 48px $mobile-side-padding 0;

  @include tablet {
    max-width: $max-content-width-tablet;
    margin: 0 auto;
    padding: 0;
  }

  @include sm-desktop {
    max-width: $max-content-width-sm-desktop;
  }

  @include modifier('watch') {
    text-align: center;
    padding-bottom: 2vh;
  }

  @include modifier('merch') {
    text-align: center;
    padding-bottom: 2vh;
  }

  @include modifier('tour') {
    padding: 0;

    @include tablet {
      max-width: none;
    }

    @include sm-desktop {
      max-width: none;
    }

    @include lg-desktop {
      max-width: none;
    }
  }

  @include modifier('contact') {
    min-height: 100vh;
  }
}
