@import 'styles/_mixins.scss';

@include block('carousel') {
  @include element('wrapper') {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 0 16px;

    @include modifier('link') {
      font-size: 18px;
      font-weight: 300;

      text-decoration: none;
      margin-bottom: 8vh;

      &:hover {
        color: $pink;
        transition: $hover;
      }

      @include lg-mobile {
        font-size: 20px;
      }

      @include sm-desktop {
        margin-bottom: 5vh;
      }

      @include med-desktop {
        font-size: 24px;
      }
    }
  }

  @include element('button') {
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 12vh;

    &:first-child {
      padding-right: 40px;
    }

    &:last-child {
      padding-left: 40px;
    }

    &:hover {
      cursor: pointer;
      transform: $scale;
      transition: $hover;
      color: $pink;
    }

    @include tablet {
      &:first-child {
        padding-right: 80px;
      }

      &:last-child {
        padding-left: 80px;
      }
    }

    @include sm-desktop {
      font-size: 32px;
    }

    @include lg-desktop {
      font-size: 40px;

      &:first-child {
        padding-right: 256px;
      }

      &:last-child {
        padding-left: 256px;
      }
    }
  }
}

@include block('carousel-image') {
  position: absolute;
  left: -200vw;
  opacity: 0;

  @include element('image') {
    height: 50vw;
    width: calc(100vw - (40px * 2 + 10 * 2px) - 32px);

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0 auto;

    &:hover {
      transform: $scale;
    }

    @include tablet {
      height: 360px;
      width: 360px;
    }

    @include lg-desktop {
      height: 560px;
      width: 560px;
    }
  }

  @include modifier('visible') {
    position: static;
    opacity: 1;
  }

  @include modifier('first') {
    display: none;

    @include sm-desktop {
      display: block;
    }
  }
  @include modifier('last') {
    display: none;

    @include sm-desktop {
      display: block;
    }
  }

  @include modifier('title') {
    width: 100%;

    margin: 24px auto 3vh auto;
    height: 2em;
    padding: 0 24px;

    @include tablet {
      width: 60vw;
    }

    @include sm-desktop {
      max-width: 35vw;
      margin: 24px auto calc(7vh - 24px) auto;
    }

    @include med-desktop {
      max-width: 660px;
      padding: 0 148px;
    }
  }
}

// @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
//   .carousel-image__image {
//     height: 50vw;
//     width: 80vw;
//   }
//   .carousel-image--title {
//     max-width: 80vw;
//   }
// }
