@import 'styles/_mixins.scss';

@include block('consent-banner') {
  width: 100%;
  background-color: $consent-banner;

  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  box-shadow: 0px 0px 20px 0px rgb(119, 117, 117);

  @include element('content') {
    text-align: right;
    padding: 24px $mobile-side-padding;

    @include sm-desktop {
      display: flex;
      align-items: center;

      padding: 8px;
    }
  }

  @include element('text') {
    @include consent-banner-font-size;
    margin-bottom: 16px;

    @include sm-desktop {
      margin-bottom: 0;
      margin-right: 16px;
    }
  }

  @include element('button') {
    @include consent-banner-font-size;
    color: $brown;
    border: 1px solid $brown;
    background-color: transparent;

    padding: 8px 16px;

    &:hover {
      box-shadow: 1px 1px 1px $brown;
      cursor: pointer;
    }

    @include modifier('decline') {
      margin-right: 16px;
    }

    @include sm-desktop {
      flex-shrink: 0;
    }
  }
}

@include block('tour-consent-banner') {
  text-align: center;
  background-color: $bone;
  padding: 24px;

  @include med-desktop {
    margin-bottom: 32px;
  }

  @include element('text') {
    @include consent-banner-font-size;

    padding: 0 16px;
    margin-bottom: 16px;
  }

  @include element('accept-button') {
    @include consent-banner-font-size;
    background-color: transparent;
    border: 1px solid $brown;
    padding: 8px 16px;
    color: $brown;

    font-size: 16px;

    cursor: pointer;
    &:hover {
      box-shadow: 1px 1px 1px $brown;
    }
  }
}
