.banner {
  width: 100%;
  background-color: gold;
  position: fixed;
  bottom: 0;
  text-align: right;
  padding: 1em;
  z-index: 5;
  
  .banner__text {
    padding: 0.5em 0.2em 1em;
  }

  .btn {
    font-size: 1em;
    padding: 0.2em 1em;
    background-color: transparent;
    border: 1px solid black;
    margin-left: 1em;
    cursor: pointer;
  }
  .btn--x {
    padding: 0;
    border: none;
  }
}

@media (min-width: 1024px) {
  .btn--a,
  .btn--d {
    &:hover {
      box-shadow: 1px 1px 1px black;
    }
  }
}
