.contact {
  min-height: 65.5vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-flow: column;
  text-align: center;
  background: none;

  &__text {
    font-size: 16px;
    font-weight: 700;
    cursor: default;
  }

  &__link {
    font-size: 16px;
  }

  .cp-logo {
    margin-top: 24px;
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 1024px) {
  .contact {
    &__text {
      font-size: 24px;
      font-weight: 700;
      cursor: default;
    }

    &__link {
      font-size: 24px;
    }

    .cp-logo {
      margin-top: 24px;
      width: 24px;
      height: 24px;
    }
  }
}
@media (min-width: 1024px) {
  .contact {
    .cp-logo {
      margin: 2vw;
      width: 2vw;
      height: 2vw;
    }
  }
}
