.contact {
  min-height: 65.5vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-flow: column;
  text-align: center;
  background: none;

  .contact__text {
    font-size: 2.5vh;
    font-weight: 600;
    cursor: default;
  }

  .contact__link {
    font-size: 2.5vh;
  }

  .cp-logo {
    margin-top: 24px;
    width: 14px;
    height: 14px;
  }
}

@media (min-width: 1024px) {
  .contact {
    .cp-logo {
      margin-top: 24px;
      width: 24px;
      height: 24px;
    }
  }
}
@media (min-width: 1024px) {
  .contact {
    .cp-logo {
      margin: 2vw;
      width: 2vw;
      height: 2vw;
    }
  }
}

// background-image: linear-gradient(
//   to right,
//   #fffdc2,
//   #fffdc2 50%,
//   #d7f0a2 50%,
//   #d7f0a2 100%
// );
// background-image: linear-gradient(
//   to right,
//   #FBB54D,
//   #FBB54D 50%,
//   #4A6E34 50%,
//   #4A6E34 100%
// );
