.button__wrapper {
  display: flex;
  margin-bottom: 5vh;

  .button {
    margin: 3vh auto;
    font-size: 3vh;
    text-transform: uppercase;

    .button--link {
      font-weight: 400;
    }
  }
}
@media (min-width: 1024px) {
  .button {
    display: none;
  }
}

// Iphone X //
@media only screen and (width: 375px) and (height: 635px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .button__wrapper {
    margin-bottom: 0;
  }
}
