.game {
  height: 0;
  width: 100vw;
  overflow: hidden;

  .game-area,
  .game-explanation,
  .credits {
    display: none;
  }
}

.game--open {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 70%;
  width: 99vw;
  transition: height 3s ease-in;

  .game-area,
  .game-explanation,
  .credits {
    display: block;
  }
}

@media (min-width: 1024px) {
  .game--open {
    height: 90vh;
  }
}

@media only screen and (min-width: 2560px) {
  .game--open {
    margin-top: 5vh;
    height: 50vh;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .game--open {
    margin-top: 5vh;
    height: 60vh;
  }
}

@import "gameHelpers.scss";

$grid-row-cells: 4;

$tile-border-radius: 10px;

$field-width-desktop: 500px;
$field-width-mobile: 280px !global;

$grid-spacing-desktop: 15px;
$grid-spacing-mobile: 10px !global;

$tile-size-desktop: (
    $field-width-desktop - $grid-spacing-desktop * ($grid-row-cells + 1)
  ) / $grid-row-cells;
$tile-size-mobile: (
    $field-width-mobile - $grid-spacing-mobile * ($grid-row-cells + 1)
  ) / $grid-row-cells !global;

$mobile-threshold: $field-width-desktop + 20px;
$bigger-threshold: $field-width-desktop + (20 * 3px);

$text-color: rgb(65, 32, 32);
$logo-color: rgb(137, 132, 207);
$bright-text-color: #f9f6f2;
$highlight-text-color: rgb(234, 207, 0);
$preorder-color: #ddc124;

$tile-color: #bfc8ff;

$background-color: white;
$button-color: #585858;
// $game-container-background: #3d484f;
$game-container-background: #bbada0;
$social-icon-color: #e9f4eb;

$new-game-color: #8f7a66;

$transition-speed: 70ms;
$animation-speed: 600ms;

@mixin button_style($margin_size) {
  display: block;
  background: $button-color;

  padding: $margin_size $margin_size;
  height: 100%;

  border-radius: $tile-border-radius;
  border: 1px solid white;

  color: $bright-text-color;
  text-decoration: none;
}

@mixin page_style(
  $score-container-height,
  $default-font-size,
  $field-width,
  $grid-spacing,
  $tile-size
) {
  html,
  body {
    background: $background-color;

    margin: 0;
    padding: 0;
  }

  body {
    margin: 0 auto;
  }

  .heading {
    @include clearfix;
    width: 100%;
    border-radius: 0 0 $tile-border-radius $tile-border-radius;
  }

  @include keyframes(move-up) {
    0% {
      top: 25px;
      opacity: 1;
    }

    100% {
      top: -50px;
      opacity: 0;
    }
  }

  .tile-stack {
    position: absolute;
    left: -999em;
  }

  .link-icon {
    color: $social-icon-color;
  }

  .link-container {
    display: flex;
    justify-content: space-between;
  }

  .scores-container {
    text-align: left;
    margin-bottom: $grid-spacing;
    cursor: default;
  }

  .score-container,
  .best-container {
    position: relative;
    display: inline-block;
    background-color: #8f7a66;

    text-align: center;
    font-weight: bold;
    color: white;

    border-radius: $tile-border-radius;
    border: 1px solid white;

    padding: 5px;
    min-width: 4em;

    .score-label {
      color: white;
      font-size: 13px;
    }

    .score-addition {
      font-weight: bold;
      position: absolute;
      right: 30px;
      font-size: $score-container-height;
      line-height: $score-container-height;
      color: $highlight-text-color;
      z-index: 100;
      @include animation(move-up $animation-speed ease-in);
      @include animation-fill-mode(both);
    }
  }

  // Styles for buttons

  .restart-button {
    @include button_style($grid-spacing);

    background-color: $new-game-color;

    display: block;
    text-align: center;
    float: right;
    cursor: pointer;
    font-weight: 600;
    &:hover {
      text-shadow: 0.2px 0.2px white;
      color: white;
    }
  }

  strong {
    &.important {
      text-transform: uppercase;
    }
  }

  .container {
    width: $field-width;
    margin: 0 auto;
  }

  .credits {
    color: $text-color;
    opacity: 0.8;
    text-align: center;
    font-size: 0.7em;

    & a {
      color: $text-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @include keyframes(fade-in) {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .game-curtain {
    display: none;
    @include stretch-to-parent;
    background: rgba($game-container-background, 0.7);
    border-radius: $tile-border-radius;

    z-index: 100;

    @include animation(fade-in $animation-speed ease $transition-speed * 12);
    @include animation-fill-mode(both);

    &.visible {
      display: block;
    }
  }

  .game-area {
    display: block;
    position: relative;
    width: 4 * $tile-size + 5 * $grid-spacing;

    background: $game-container-background;
    padding: $grid-spacing;
    border-radius: $tile-border-radius;

    .game-message-container {
      display: none;
      @include stretch-to-parent;

      font-weight: bold;
      color: $bright-text-color;

      z-index: 101;
      text-align: center;

      .game-message {
        font-size: $default-font-size * 3;
        height: $default-font-size;
        line-height: $default-font-size;
        margin-top: $default-font-size * 3;
      }

      .lower {
        display: block;
        margin-top: 30px;
      }

      a {
        @include button_style($grid-spacing);

        &.keep-playing-button {
          display: none;
        }
      }

      &.game-won {
        color: $highlight-text-color;

        a.keep-playing-button {
          display: inline-block;
        }

        a.retry-button {
          display: none;
        }
      }

      &.game-won,
      &.game-over {
        display: block;
      }

      @include animation(fade-in $animation-speed ease $transition-speed * 12);
      @include animation-fill-mode(both);
    }
  }

  .game-container {
    position: relative;

    cursor: default;

    @include user-select(none);
    @include touch-action(none);
    @include touch-callout(none);
    @include box-sizing(border-box);

    height: $field-width - 2 * $grid-spacing;
  }

  .grid-container {
    position: absolute;
    z-index: 1;
  }

  .grid-row {
    margin-bottom: $grid-spacing;

    &:last-child {
      margin-bottom: 0;
    }

    @include clearfix;
  }

  .grid-cell {
    width: $tile-size;
    height: $tile-size;
    float: left;

    border-radius: $tile-border-radius;
    background: rgba(238, 228, 218, 0.35);

    margin-right: $grid-spacing;
    &:last-child {
      margin-right: 0;
    }
  }

  .tile-container {
    position: absolute;
    z-index: 2;
  }

  .tile {
    // @include clip-path(ellipse());
    position: absolute; // Makes transforms relative to the top-left corner

    // Build position classes
    @for $x from 1 through $grid-row-cells {
      @for $y from 1 through $grid-row-cells {
        &.tile-position-#{$x}-#{$y} {
          $xPos: floor(($tile-size + $grid-spacing) * ($x - 1));
          $yPos: floor(($tile-size + $grid-spacing) * ($y - 1));
          @include transform(translate($xPos, $yPos));
        }
      }
    }

    &,
    .tile-inner {
      width: ceil($tile-size);
      height: ceil($tile-size);
      line-height: ceil($tile-size);
    }

    .tile-inner {
      border-radius: $tile-border-radius;
      background: $tile-color;
      z-index: 10;
    }

    // Movement transition
    @include transition($transition-speed ease-in-out);
    @include transition-property(transform);

    $base: 2;
    $exponent: 1;
    $limit: 13;

    $background-images: "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318941/the-beths/the-beths-gifs/JONWINK.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318939/the-beths/the-beths-gifs/BENRAIN.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318945/the-beths/the-beths-gifs/LIZGOOGLY.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318944/the-beths/the-beths-gifs/LIZSPACE.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318939/the-beths/the-beths-gifs/BEN.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318947/the-beths/the-beths-gifs/PIZZAJON.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318942/the-beths/the-beths-gifs/LIZ.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318940/the-beths/the-beths-gifs/BENPLANE.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318942/the-beths/the-beths-gifs/JONTUI.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318943/the-beths/the-beths-gifs/LIZRAINBOW.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318943/the-beths/the-beths-gifs/JONCRICKET.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318940/the-beths/the-beths-gifs/BENBREAD.gif",
      "https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto/v1557318940/the-beths/the-beths-gifs/DAGFINAL.gif";

    // Build tile colors
    @while $exponent <= $limit {
      $power: pow($base, $exponent);

      &.tile-#{$power} .tile-inner {
        // Set background
        $image: nth($background-images, $exponent);
        background-image: url($image);
        background-size: cover;
        color: rgba(0, 0, 0, 0);
      }

      $exponent: $exponent + 1;
    }
  }

  @include keyframes(appear) {
    0% {
      opacity: 0;
      @include transform(scale(0));
    }

    100% {
      opacity: 1;
      @include transform(scale(1));
    }
  }

  .tile-new .tile-inner {
    @include animation(appear $animation-speed ease $transition-speed);
    @include animation-fill-mode(backwards);
  }

  @include keyframes(pop) {
    0% {
      @include transform(scale(0));
    }

    50% {
      @include transform(scale(1.2));
    }

    100% {
      @include transform(scale(1));
    }
  }

  .tile-merged .tile-inner {
    z-index: 20;
    @include animation(pop $animation-speed ease $transition-speed);
    @include animation-fill-mode(backwards);
  }

  .above-game {
    @include clearfix;
  }

  .game-explanation {
    margin-top: $grid-spacing;
    text-align: center;
    color: $text-color;
    margin-top: 2vh;
    margin-bottom: 10px;
    line-height: 1.25;
    width: 4 * $tile-size + 5 * $grid-spacing;
  }
}

@include page_style(
  25px,
  18px,
  $field-width-desktop,
  $grid-spacing-desktop,
  $tile-size-desktop
);
@include smaller($mobile-threshold) {
  @include page_style(
    15px,
    15px,
    $field-width-mobile,
    $grid-spacing-mobile,
    $tile-size-mobile
  );
}
