@import 'styles/_mixins.scss';

@include block('header') {
  font-size: 2em;
  font-weight: 700;

  text-align: center;
  text-transform: capitalize;

  padding-top: calc(#{$nav-height-mobile} + 2vh);
  margin-bottom: 4vh;

  cursor: default;

  @include tablet {
    padding-top: calc(#{$nav-height-mobile} + 4vh);
  }

  @include sm-desktop {
    padding-top: calc(#{$nav-height-desktop} + 10vh);
    margin-bottom: 8vh;
  }

  @include lg-desktop {
    padding-top: calc(#{$nav-height-lg-desktop} + 10vh);
  }

  @include modifier('contact') {
    padding-top: 15vh;

    @include med-desktop {
      padding-top: 18vh;
    }
  }
}
