@import 'styles/_mixins.scss';

@include block('header') {
  text-align: center;

  padding-top: 32px;
  margin-bottom: 40px;

  font-size: 40px;
  font-weight: 700;

  @include tablet {
    padding-top: 40px;
    margin-bottom: 32px;
  }

  @include sm-desktop {
    padding-top: 10vh;
    cursor: default;
  }

  @include med-desktop {
    padding-top: 48px;
  }

  @include lg-desktop {
    font-size: 60px;
  }

  @include modifier('merch') {
    @include sm-desktop {
      padding-bottom: 6vh;
    }
  }

  @include modifier('store') {
    @include med-desktop {
      padding-bottom: 16px;
    }
  }

  @include modifier('game') {
    display: none;

    @include state('open') {
      display: block;
      margin-bottom: 16px;
    }
  }

  @include modifier('contact') {
    padding-top: 15vh;

    @include tablet {
      padding-top: 15vh;
    }

    @include sm-desktop {
      padding-top: 15vh;
    }

    @include med-desktop {
      padding-top: 18vh;
    }
  }
}
