@import 'styles/_mixins.scss';

$consent-banner-height-mobile: 120px;
$nav-height-mobile: 45px;

.home {
  min-height: 100vh;
  background-color: black;

  &__background-image {
    height: calc(100vh - #{$nav-height-mobile} - 56px);
    padding: calc(#{$nav-height-mobile} + 56px) 16px 0 16px;

    background-image: url('https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto,q_auto:good/v1629344430/the-beths/town-hall-live-2020/Beths_Live_Amazon_Artwork_Poster_Out_Now_zsacjy.jpg');
    background-size: contain;
    background-position: center 72px;
    background-repeat: no-repeat;

    @include lg-mobile {
      height: calc(
        100vh - #{$consent-banner-height-mobile} - #{$nav-height-mobile} - 56px
      );
    }

    @include tablet {
      height: calc(100vh - 48px - 77px);
      background-size: 80%;
    }

    @include sm-desktop {
      height: 100vh;
      min-height: 590px;

      background-image: url('https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto,q_auto:good/v1629343962/the-beths/town-hall-live-2020/Beths_Live_Youtube_2048x1152_1_utnqgy.jpg');
      background-position: top center;
      margin-top: -32px;

      position: relative;

      background-size: 80%;

      background-position: center;

      &:after {
        content: '';
        width: calc(100vw - 284px);

        height: 80%;

        position: absolute;
        top: 72px;
        left: 0;
        right: 0;
        margin: 0 auto;

        background: radial-gradient(transparent 50%, black 70%);
      }
    }

    @include lg-desktop {
      height: 100vh;
      background-size: 80%;
      background-image: url('https://res.cloudinary.com/garyou/image/upload/w_auto,c_scale,q_auto,dpr_auto,f_auto,q_auto:good/v1629344430/the-beths/town-hall-live-2020/Beths_Live_Amazon_Artwork_Poster_Out_Now_zsacjy.jpg');
    }
  }

  &__cta-links {
    display: flex;
    flex-flow: column;
    margin: 48px;

    @include sm-desktop {
      display: flex;
      flex-flow: row;
      justify-content: center;
      max-width: 1407px;
    }
  }

  &__cta-link {
    text-align: center;

    font-size: 18px;
    font-weight: 700;
    color: white;

    border: 2px solid white;
    border-radius: 12px;

    padding: 16px 24px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    @include sm-desktop {
      font-size: 20px;

      border: 1px solid white;
      background-color: rgba(0, 0, 0, 0.4);

      margin: 0 24px;

      &:hover {
        box-shadow: 3px 3px white;
        color: white;
        transition: all 0.23s ease-in-out 0s;
        transform: scale(1.01);
      }
    }

    @include lg-desktop {
      font-size: 32px;
    }
  }
}
