@import 'styles/_mixins.scss';

@include block('home') {
  min-height: 100vh;
  background-color: black;

  display: flex;
  flex-flow: column;
  align-items: center;

  @include element('background-image-wrapper') {
    width: 100vw;
    padding: calc(#{$nav-height-mobile} + 48px) 16px 32px;

    @include tablet {
      width: 80vw;
    }

    @include sm-desktop {
      width: 100vw;
      padding: $nav-height-desktop 0 0;

      overflow: hidden;
    }

    @include med-desktop {
      padding-top: 0;
      margin-top: ($nav-height-desktop * -1) + 16px;
    }

    @include lg-desktop {
      width: 84vw;
      position: relative;

      &:after {
        content: '';
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background: radial-gradient(transparent 65%, black 100%);
      }
    }
  }

  @include element('background-image') {
    width: 100%;

    @include sm-desktop {
      display: none;
    }

    @include modifier('desktop') {
      display: none;

      @include sm-desktop {
        display: block;
      }
    }
  }

  @include element('cta-links') {
    padding: 0 16px 64px;
    display: flex;
    flex-flow: column-reverse;

    @include lg-mobile {
      padding: 0 48px 64px;
    }

    @include sm-desktop {
      display: flex;
      flex-flow: row;
      justify-content: center;
      max-width: none;

      position: absolute;
      bottom: 0;
    }

    @include med-desktop {
      bottom: 8px;
    }

    @include lg-desktop {
      bottom: 24px;
    }
  }

  @include element('cta-link') {
    text-align: center;

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;

    border: 2px solid white;
    border-radius: 12px;

    padding: 16px 24px;
    margin-bottom: 16px;

    &:first-child {
      margin-bottom: 0;
    }

    @include sm-desktop {
      font-size: 20px;

      border: 1px solid white;
      background-color: rgba(0, 0, 0, 0.4);

      margin: 0 24px;

      &:hover {
        box-shadow: 3px 3px white;
        color: white;
        transition: $hover;
        transform: scale;
      }
    }

    @include med-desktop {
      font-size: 26px;
    }

    @include lg-desktop {
      font-size: 38px;
    }
  }
}
