@import 'styles/_mixins.scss';

@include block('home') {
  min-height: 100vh;
  background-color: black;

  display: flex;
  flex-flow: column;
  align-items: center;

  @include element('background-image-wrapper') {
    width: 100vw;
    padding: 93px 16px 32px;

    @include tablet {
      width: 80vw;
    }

    @include sm-desktop {
      position: relative;
      &:after {
        box-shadow: none;
        background: radial-gradient(transparent 50%, black 70%);
      }
    }
  }
  @include element('background-image') {
    width: 100%;

    @include sm-desktop {
      display: none;
    }

    @include modifier('desktop') {
      display: none;

      @include sm-desktop {
        display: block;
      }
    }
  }

  @include element('cta-links') {
    width: 100vw;
    padding: 0 16px 64px;
    display: flex;
    flex-flow: column-reverse;

    @include lg-mobile {
      padding: 0 48px 64px;
      max-width: 380px;
    }

    @include sm-desktop {
      display: flex;
      flex-flow: row;
      justify-content: center;
    }
  }

  @include element('cta-link') {
    text-align: center;

    font-size: 18px;
    font-weight: 700;
    color: white;

    border: 2px solid white;
    border-radius: 12px;

    padding: 16px 24px;
    margin-bottom: 16px;

    &:first-child {
      margin-bottom: 0;
    }

    @include sm-desktop {
      font-size: 20px;

      border: 1px solid white;
      background-color: rgba(0, 0, 0, 0.4);

      margin: 0 24px;

      &:hover {
        box-shadow: 3px 3px white;
        color: white;
        transition: $hover;
        transform: scale;
      }
    }

    @include lg-desktop {
      font-size: 32px;
    }
  }
}
