@import 'styles/_mixins.scss';

@include block('merch') {
  display: flex;
  flex-flow: column;
  align-items: center;

  @include element('grid') {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1.5em;

    margin-bottom: 8vh;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include sm-desktop {
      margin-bottom: 10vh;
    }
  }

  @include element('cta-title') {
    margin-bottom: 16px;
  }

  @include element('ctas') {
    display: flex;
    align-items: center;

    margin-bottom: 24px;

    a {
      margin: 0 8px;
    }
  }
}

@include block('merch-thumbnail') {
  text-align: center;

  @include element('text') {
    padding: 0 1em;
    margin-top: 0.5em;

    &:hover {
      cursor: pointer;
    }
  }

  @include state('hidden') {
    display: none;
  }
}
