.mobile-navigation {
  width: 100%;

  padding: 16px;

  position: absolute;
  top: 0;
  left: 0;

  &__content {
    height: 45px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
}

.mobile-navigation-menu {
  display: none;
  flex-flow: column;
  text-align: right;

  position: absolute;
  top: 72px;
  right: 16px;

  background-color: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;

  padding: 16px;

  &.is-open {
    display: flex;
  }

  &__menu-button {
    display: flex;
    align-items: center;

    font-size: 18px;
    font-weight: 700;
    color: black;

    margin: 0;
    border: none;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      cursor: pointer;
      color: #ef97b0;
      transition: all 0.23s ease-in-out 0s;
    }

    padding: 0 16px;

    &--desktop {
      display: none;
    }
  }

  &__nav-item {
    margin: 0;
    padding: 4px 0;
  }

  &__nav-item-link {
    font-size: 18px;
    font-weight: 700;
    color: black;

    margin: 0;
  }
}

.mobile-navigation-socials {
  display: flex;
  flex-flow: column;

  &__content {
    min-height: 45px;

    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    border-radius: 12px;

    display: flex;
    align-items: center;
    width: fit-content;

    padding: 0 16px 0 13px;
    margin-bottom: 11px;
  }

  &.is-open {
    .mobile-navigation-socials__more-arrow {
      transform: scaleX(-1);
    }
    .mobile-navigation-socials__extra-socials {
      display: flex;
    }
  }

  &__more-arrow {
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }

  &__extra-socials {
    display: none;
  }
}

.desktop-navigation-socials {
  display: none;
}

@media (min-width: 1024px) {
  .mobile-navigation {
    padding: 32px 0;
    width: 100%;

    display: flex;
    justify-content: center;

    &__content {
      width: 92%;
      display: flex;
      justify-content: space-between;
    }
  }

  .mobile-navigation-menu {
    &__menu-button {
      display: none;

      &--desktop {
        display: flex;
        height: 60px;
        padding: 0 24px;
        font-size: 20px;
      }
    }

    &.is-open-desktop {
      display: flex;
    }
  }

  .mobile-navigation-socials {
    display: none;
  }

  .desktop-navigation-socials {
    display: flex;
    flex-flow: column;

    &__content {
      min-height: 60px;

      background-color: white;
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
      border-radius: 12px;

      display: flex;
      align-items: center;
      width: fit-content;

      padding: 0 24px 0 21px;
      margin-bottom: 11px;
    }
  }
}

.socials-default {
  &__icon {
    display: flex;
    align-items: center;
    margin: 0 4px;

    min-height: 100%;
    max-height: 45px;
    color: transparent;

    &:hover {
      svg {
        fill: #ef97b0;
        transition: all 0.23s ease-in-out 0s;
      }
    }

    &--patreon {
      margin-left: 6px;
    }

    &--apple {
      margin-top: -2px;

      svg {
        padding: 2px;
      }
    }

    &--bandcamp {
      svg {
        padding: 1px;
      }
    }
  }
}
