@import 'styles/_mixins.scss';

// Animations
@media (prefers-reduced-motion: no-preference) {
  .mobile-navigation {
    animation-name: fade-in-movement;
    animation-duration: 1s;
  }

  .desktop-navigation {
    animation-name: ease-up-in-slow;
    animation-duration: 1s;
  }
}

// Mobile
@include block('mobile-navigation') {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  padding: 16px;

  @include med-desktop {
    display: none;
  }

  @include element('content') {
    height: $nav-height-mobile;

    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
}

@include block('mobile-navigation-menu') {
  display: none;
  flex-flow: column;
  text-align: right;

  position: fixed;
  top: 77px;
  right: 16px;
  z-index: 1;

  background-color: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;

  padding: 16px;

  @include med-desktop {
    display: none;
  }

  @include state('open') {
    display: flex;
  }

  @include element('menu-button') {
    display: flex;
    align-items: center;

    font-size: 18px;
    font-weight: 700;
    color: black;

    margin: 0;
    border: none;

    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      cursor: pointer;
      color: $pink;
      transition: $hover;
    }

    padding: 0 16px;

    @include lg-mobile {
      font-size: 20px;
    }

    @include modifier('desktop') {
      display: none;
    }
  }

  @include element('nav-item') {
    margin: 0;
    padding: 4px 0;
  }

  @include element('nav-item-link') {
    font-size: 18px;
    font-weight: 700;
    color: black;

    margin: 0;

    @include lg-mobile {
      font-size: 20px;
    }
  }
}

@include block('mobile-navigation-socials') {
  display: flex;
  flex-flow: column;

  @include element('content') {
    min-height: $nav-height-mobile;

    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    border-radius: 12px;

    display: flex;
    align-items: center;
    width: fit-content;

    padding: 0 16px 0 13px;
  }

  @include element('more-arrow') {
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }

    @include lg-mobile {
      font-size: 20px;
    }
  }

  @include element('extra-socials') {
    display: none;
  }

  @include state('open') {
    .mobile-navigation-socials__more-arrow {
      transform: scaleX(-1);
      color: $pink;
    }
    .mobile-navigation-socials__extra-socials {
      display: flex;
      margin-top: 16px;
    }
  }
}

// Desktop
@include block('desktop-navigation') {
  display: none;

  @include med-desktop {
    display: flex;
    justify-content: center;

    position: fixed;
    top: 32px;
    left: 0;
    z-index: 1;

    width: 100%;
  }

  @include state('open') {
    .desktop-navigation-menu__nav-items {
      display: flex;
      padding-left: 16px;
    }

    .desktop-navigation__menu-button {
      color: $pink;
    }
  }

  @include element('content') {
    display: flex;
    justify-content: space-between;

    width: 100%;

    height: $nav-height-mobile;

    padding: 0 4.9vw;

    @include med-desktop {
      height: $nav-height-desktop;
      padding: 0 4.4vw;
    }
    
    @include lg-desktop {
      height: $nav-height-lg-desktop;
      width: 84vw;
      padding: 0;
    }
  }

  @include element('menu-button') {
    width: 123px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;

    font-size: 20px;
    font-weight: 700;
    padding: 0 8px;

    &:hover {
      cursor: pointer;

      transition: $hover;
      color: $pink;
    }

    @include lg-desktop {
      font-size: 24px;
      width: 139px;
    }
  }
}

@include block('desktop-navigation-menu') {
  height: 100%;
  display: flex;
  align-items: center;

  background-color: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;

  @include element('nav-items') {
    display: none;
  }

  @include element('nav-item-link') {
    font-size: 20px;
    font-weight: 700;
    padding: 0 16px;

    @include lg-desktop {
      font-size: 24px;
    }
  }
}

@include block('desktop-navigation-socials') {
  display: none;

  display: flex;
  flex-flow: column;

  background-color: white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;

  padding: 0 8px;

  @include element('content') {
    min-height: $nav-height-mobile;

    display: flex;
    align-items: center;
    width: fit-content;

    padding: 0 8px;

    @include med-desktop {
      height: $nav-height-desktop;
    }

    @include lg-desktop {
      height: $nav-height-lg-desktop;
    }
  }
}
