@import 'styles/_mixins.scss';

@include block('navigation') {
  position: fixed;
  z-index: 1;

  width: 100%;

  display: flex;
  justify-content: space-between;

  padding: $mobile-side-padding;

  @include element('menu-button') {
    @include navbar-style;
    @include hover-transition;
    @include navbar-font;

    height: $nav-height-mobile;
    min-width: 108px;

    border: none;
  }
}

@include block('navigation-menu') {
  display: none;

  @include state('open') {
    @include navbar-style;

    display: flex;

    position: fixed;
    right: $mobile-side-padding;
    top: $nav-height-mobile + 32px;

    padding: 16px;
    padding-left: 80px;
  }

  @include element('nav-item') {
    @include hover-transition;
    @include navbar-font;

    text-align: right;
    text-transform: capitalize;
    padding: 4px 0;
  }
}

@include block('navigation-socials-mobile') {
  @include state('open') {
    .navigation-socials-mobile__extra-socials {
      display: flex;
    }

    .navigation-socials-mobile__arrow {
      transform: scaleX(-1);
      color: $pink;
    }
  }

  @include med-desktop {
    display: none;
  }

  @include element('content') {
    @include navbar-style;

    height: $nav-height-mobile;
    width: fit-content;

    display: flex;

    margin-bottom: 16px;
  }

  @include element('extra-socials') {
    display: none;
  }

  @include element('social') {
    @include hover-transition;

    display: flex;
    align-items: center;

    padding: 0 4px;
  }

  @include element('arrow') {
    @include hover;
    background-color: transparent;
    border: none;

    font-weight: 300;
    font-size: 20px;

    padding: 0 4px;
  }
}

@include block('navigation-socials-desktop') {
  display: none;

  @include med-desktop {
    @include navbar-style;

    height: $nav-height-mobile;
    display: flex;
  }

  @include element('social') {
    display: flex;
    align-items: center;

    padding: 0 4px;
  }
}
