.site-header {
  height: 48px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  background-color: white;
  z-index: 2;

  &--show-border {
    border-bottom: 2px dashed gold;
  }

  &__logo {
    display: flex;

    img {
      width: 100px;
    }
  }

  &__menu-toggle {
    font-size: 24px;
    color: black;
  }

  &__nav {
    &--desktop {
      display: none;
    }
  }
}

.site-header-socials-desktop {
  display: none;
}

.site-menu {
  transform: translateX(-100vw);
  transition: transform 350ms cubic-bezier(0.55, 0, 0.1, 1);

  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;

  text-align: center;
  background-color: white;

  padding-top: 40px;

  &--is-open {
    transform: translateX(0vw);
    transition: transform 350ms cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  &__nav {
    padding: 104px 0 0;
  }
  &__nav-item {
    margin-bottom: 12px;
  }

  &__nav-item-link {
    font-size: 24px;
    font-weight: 400;
  }
}

.site-menu-socials {
  margin-top: 48px;
  justify-content: center;

  &__icon {
    margin: 0 8px;
  }
}

@media (min-width: 768px) {
  .site-header-socials-desktop {
    display: none;
  }

  .site-menu {
    &__nav {
      padding-top: 200px;
    }

    &__nav-item {
      margin-bottom: 16px;
    }
    &__nav-item-link {
      font-size: 32px;
    }
  }

  .site-menu-socials {
    svg {
      width: 24px;
    }
  }
}

@media (min-width: 1024px) {
  .site-header {
    &__nav {
      display: none;
      &--desktop {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
      }
    }
  }

  .site-header-socials-desktop {
    display: flex;
    width: 50%;

    &__icon {
      width: 18px;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .site-menu {
    &__nav-item {
      &--desktop {
        margin: 0 8px;

        &:hover {
          cursor: pointer;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__nav-item-link {
      &--desktop {
        font-size: 18px;
      }
    }
  }
}
@media (min-width: 1280px) {
  .site-header-socials-desktop {
    display: flex;

    &__icon {
      width: 20px;
    }
  }
  .site-menu {
    &__nav-item {
      &--desktop {
        margin: 0 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__nav-item-link {
      &--desktop {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 374px) {
  .site-menu {
    &__nav {
      padding: 64px 0 0;
    }
  }
}
