.site-header {
  height: 48px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;

  padding: 0 16px;
  background-color: transparent;
  z-index: 1;

  &__logo {
    display: flex;

    svg {
      width: 100px;

      path {
        fill: black;
      }
    }
  }

  &__menu-toggle {
    font-size: 24px;
    color: black;
  }

  &__nav {
    &--desktop {
      display: none;
    }
  }
}

.site-menu {
  transform: translateX(-100vw);
  transition: transform 350ms cubic-bezier(0.55, 0, 0.1, 1);

  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;

  text-align: center;
  background-color: white;

  padding-top: 40px;

  &--is-open {
    transform: translateX(0vw);
    transition: transform 350ms cubic-bezier(0.55, 0, 0.1, 1);
  }

  &__nav {
    padding: 102px 0;
  }
  &__nav-item {
    margin-bottom: 12px;
  }

  &__nav-item-link {
    font-size: 24px;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .site-header {
    justify-content: flex-end;

    &__nav {
      display: none;
      &--desktop {
        display: flex;
      }
    }

    &__logo {
      display: none;
    }
  }

  .site-menu {
    &__nav-item {
      &--desktop {
        margin: 0 12px;
      }
    }
    &__nav-item-link {
      &--desktop {
        color: white;
      }
    }
  }
}
