.socials-default {
  // display: none;

  &__icon {
    display: flex;
    margin: 0 4px;
    margin-top: 4px;

    &:hover {
      svg {
        fill: #c45827;
      }
    }

    &--apple {
      margin-top: -2px;

      svg {
        padding: 2px;
      }
    }

    &--bandcamp {
      margin: 4px 6px 0 5px;
      svg {
        padding: 1px;
      }
    }
  }
}