.socials-default {
  &__icon {
    display: flex;
    align-items: center;
    margin: 0 6px;

    min-height: 100%;
    max-height: 45px;
    color: transparent;

    &:hover {
      svg {
        fill: #ef97b0;
        transition: all 0.23s ease-in-out 0s;
      }
    }

    &--patreon {
      margin-left: 6px;
    }

    &--apple {
      margin-top: -2px;

      svg {
        padding: 2px;
      }
    }

    &--bandcamp {
      svg {
        padding: 1px;
      }
    }
  }
}
