.socials-default {
  &__icon {
    display: flex;
    align-items: center;
    margin: 0 4px;

    min-height: 100%;
    max-height: 45px;

    &:hover {
      svg {
        fill: #c45827;
      }
    }

    &--apple {
      margin-top: -2px;

      svg {
        padding: 2px;
      }
    }

    &--bandcamp {
      svg {
        padding: 1px;
      }
    }
  }
}
