@import 'styles/_mixins.scss';

@include block('tour') {
  display: flex;
  flex-flow: column;

  margin: 0 auto;

  @include element('image') {
    // height: 198px;
    // background-size: contain;
    // background-position: center;
    // background-repeat: no-repeat;

    // margin-top: -56px;

    @include sm-desktop {
      // height: 20vh;
      // margin: 0 15vw;
      // background-size: contain;

      width: 100%;
    }
  }

  @include element('text') {
    margin: 16px auto 0 auto;
  }
}

@include block('song-kick') {
  padding: 0 6px;

  @include sm-desktop {
    width: 100%;
    padding: 0;
  }
}

#song-kick {
  padding: 0;
  margin: -10px;

  @include sm-desktop {
    margin: 0;
  }
}
