@import 'styles/_mixins.scss';

@include block('tour') {
  display: flex;
  flex-flow: column;

  margin: 0 auto;

  @include element('image') {
    height: 198px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: -56px;

    @include sm-desktop {
      height: 20vh;
      margin: 0 15vw;
      background-size: contain;
    }
  }

  @include element('text') {
    margin: 16px auto 0 auto;
  }
}

@include block('song-kick') {
  padding: 0 6px;

  @include sm-desktop {
    width: 100%;
    padding: 0;
  }
}

@include block('tour-consent-banner') {
  text-align: center;
  background-color: gold;
  padding: 24px;

  @include med-desktop {
    margin-bottom: 32px;
  }

  @include element('text') {
    font-size: 18px;

    padding: 0 16px;
    margin-bottom: 16px;
  }

  @include element('accept-button') {
    background-color: transparent;
    border: 1px solid black;
    padding: 8px 16px;

    font-size: 16px;

    cursor: pointer;
    &:hover {
      box-shadow: 1px 1px 1px black;
    }
  }
}
