.watch {
  text-align: center;

  .watch__text {
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: 3vh;
    width: max-content;
    margin: 0 auto 3vh;
    position: relative;

    &:hover {
      font-weight: 400;
      cursor: pointer;
    }

    &:first-child {
      &:before,
      &:after {
        content: "-";
      }
    }

    &:before {
      display: inline;
      content: "+";
      left: -24px;
      position: absolute;
    }

    &:after {
      display: inline;
      content: "+";
      right: -24px;
      position: absolute;
    }
  }
  .watch__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    display: none;

    &--jump-rope-gazers {
      display: flex;
    }
  }
}

.thumbnail {
  top: 2vw;
  left: 10vw;
  padding: 3vw 4vw;
  margin-bottom: 3vh;

  .thumbnail__image {
    height: 20vw;
    object-fit: contain;
  }

  .thumbnail___image--xmas {
    height: 17vw;
  }

  .thumbnail__text {
    font-size: 1em;
    max-width: 40vw;
  }
}

@media (min-width: 1024px) {
  .watch {
    .watch__text {
      font-size: 1.5em;
      cursor: default;
    }

    .watch__wrapper {
      margin: 0 auto;
      max-width: 70vw;
    }

    .watch__wrapper--xmas {
      max-width: 30vw;
    }
  }

  .thumbnail {
    cursor: pointer;

    .thumbnail__image {
      height: 8vw;
    }

    .thumbnail__image--xmas {
      height: 6.5vw;
    }

    .thumbnail__text--xmas {
      max-width: 20vw;
    }

    .thumbnail__text {
      font-size: 1.2em;
      &:hover {
        color: #c45827;
      }
    }
  }
  .thumbnail__container {
    margin: 2px;
  }

  .thumbnail__container:hover > .thumbnail {
    // transform: rotate(20deg);
  }
}

@media only screen and (min-width: 2560px) {
  .watch {
    .watch__text {
      font-size: 2em;
    }
  }
  .thumbnail {
    .thumbnail__text {
      font-size: 1.5em;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .thumbnail {
    .thumbnail__image {
      height: 15vw;
    }
  }
}
